<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Form</title>
</head>
<body>

<!-- This form can be used to add other pages to the application it you would like them -->
<form action="#" th:action="@{/tasks}" th:object="${task}" method="post">
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="*{description}" />
    
    <label for="dueDate">Due Date:</label>
    <input type="date" id="dueDate" name="dueDate" th:value="*{dueDate}" />
    
    <input type="checkbox" id="isComplete" name="isComplete" th:checked="*{complete}" />
    <label for="isComplete">Completed</label>
    
    
</form>

<form action="/tasks" method="post">
    <input type="text" name="description" placeholder="Enter task description" required>
    <button type="submit">Add New Task</button>
</form>


<a href="/">Back to Task List</a>

</body>
</html>
